body {
    font-size: 2.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 2%;
    padding: 2%;
    background-color: lightgray;






}

#icon, h1{
    width: 100%;
    display: flex;
    justify-content: center;



}

img{
    width: 25rem;
    height: 25rem;
    border-radius: 60%;
    box-shadow: 1rem 1rem 2rem blue, 1rem 1rem 2.1rem yellow;
    


}

div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin: 2%;
    padding: 2%;
    
}

.animation_box{
    /*background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);*/
    background: red;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    animation: change_color 2s linear infinite;



}

div .box1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.animation_box1{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    animation: rotate 3s linear infinite;
    




}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

@keyframes change_color {
    from {background-color: crimson;}
    to {background-color:green ;}
    to {background-color:blue ;}

    
}

fieldset{
    border-radius: 2rem;
    padding-top: 0%;
    padding-left: 6%;
    margin: 2%;
    background-color: whitesmoke;
    width: 100%;

}

legend{
    color: whitesmoke;
    background-color: blue;
    width: 25%;
    text-align: center;
    border-radius: 2rem;
}

p{
    text-align: center;
}

@media (max-width: 1000px) {
    body {

        font-size: 1.5rem;
        height: auto;
        width:auto;
        margin: auto;


        
    }


    .animation_box{
        width: 5rem;
        height: 5rem;

    
    }


    .animation_box1{
        width: 2.5rem;
        height: 2.5rem;
    }


    img{
        width: 20rem;
        height: 20rem;
    }

    fieldset{
        width: auto;
        height: auto;
    }

    legend{
        width: auto;
        height: auto;
    }
    #noidung{
        width: auto;
        height: auto;       
    }



}

@media (max-width: 640px) {
    body {

        font-size: 1rem;

    }
    div{
        display: none;
    }
    img{
        width: 10rem;
        height: 10rem;
    }

    fieldset{
        width: auto;
        height: auto;
    }

    legend{
        width: auto;
        height: auto;
    }

    #noidung{
        width: auto;
        height: auto;  
        padding:0rem;
        margin: 0rem;     
    }
}
