body {
    background-color: whitesmoke;
    height:auto;
    max-width:auto;
    font-size:1.5rem;

}
#icon {
    text-align: center;
    width: auto;
    height: auto;
}

#icon img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

#noi_dung {
    border: solid 2px gray;
    border-radius: 1rem;
    padding: 2%;
    margin : 2%;
    text-align: center;
    box-sizing: border-box;

}

#noidung b{
    size: 10rem;
}


#noi_dung legend {
    border: 2px solid gray;
    border-radius: 1rem;
    padding:2%;
    margin:2%;
    text-align:center;
    background-color:dodgerblue;
    color: whitesmoke;
    width: 25%;
    box-sizing: border-box;
    
}
#noi_dung fieldset {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 2%;
    box-sizing: border-box;
    text-align: center;

}

#noi_dung ul,li {
    text-align: left;

    

}

h1{
    padding:4%;
    padding-bottom: 10%;
    color:crimson;
}