body {
    background-color: whitesmoke;
    height:100%;
    width: 100%;
    font-size:1.5rem;
    box-sizing: border-box;
    margin: 2%;
    padding: 2%;





}
#icon {
    text-align: center;
    width: auto;
    height: auto;
}

#icon img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
    box-shadow: 10px 10px 5px gray;


}

.animation_box{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    width: 50px;
    height: 50px;
    margin: 2%;
    padding: 2%;
    border-radius: 1rem;
    animation: rotate 5s linear infinite;
    display: inline-block;

}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
#noi_dung {
    border: solid 2px gray;
    border-radius: 1rem;
    padding: 2%;
    margin : 2%;
    text-align: center;
    width: 80em;



}

#noidung b{
    size: 10rem;
}


#noi_dung legend {
    border: 2px solid gray;
    border-radius: 1rem;
    padding:2%;
    margin:2%;
    text-align:center;
    background-color:dodgerblue;
    color: whitesmoke;
    width: 25%;
    
}
#noi_dung fieldset {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75em;

}

#noi_dung ul,li {
    text-align: left;

    

}

h1{
    padding:4%;
    padding-bottom: 10%;
    color:crimson;
}